<template>
  <div class="home-recipes">
    <h1>Recipes</h1>
    <router-link to="/add-recipe" v-if="this.isLoggedIn">Add Recipe</router-link>
    <h2 v-if="isLoading">LOADING</h2>
    <div v-for="recipe of recipeSummaries" style="margin-top: 10px;">
      {{recipe.name}}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import {RecipeSummary} from '@/recipes/types';
import {LOAD_SUMMARIES, prefixRecipesModule} from '@/recipes/recipeStore';
import {getError} from '@/errors/RecipeError';

@Component
export default class HomeRecipes extends Vue {
  get recipeSummaries(): RecipeSummary[] {
      return this.$store.state.recipes.recipeSummaries;
  }

  get isLoading(): boolean {
      return this.$store.state.recipes.loadingSummaries;
  }

  public async created() {
      try {
          if (!this.recipeSummaries || !this.recipeSummaries.length) {
              await this.$store.dispatch(prefixRecipesModule(LOAD_SUMMARIES));
          }
      } catch (err) {
          this.$notify({
              title: 'Error',
              text: getError(err, 'Error loading Recipes. Please refresh the page to try again.'),
              type: 'error',
          });
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
