<template>
    <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/login" v-if="!isLoggedIn">Login</router-link>
        <span v-if="!isLoggedIn"> | </span>
        <router-link to="/register" v-if="!isLoggedIn">Register</router-link>
        <a v-if="isLoggedIn" @click.prevent.stop="logout">Logout</a>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {RecipeSummary} from '@/recipes/types';
import {LOAD_SUMMARIES, prefixRecipesModule} from '@/recipes/recipeStore';
import {getError} from '@/errors/RecipeError';
import {LOGOUT, prefixUserModule} from '../users/userStore';

@Component
export default class Navigation extends Vue {
    public async logout() {
        await this.$store.dispatch(prefixUserModule(LOGOUT));
    }
}
</script>
