<template>
    <div>
        <h2>Add Recipe</h2>
        Recipe Name <input type="text" v-model="recipe.name" />
        <br />
        Description <input type="text" v-model="recipe.description" />
        <br />
        Originally By: <input type="text" v-model="recipe.originallyBy" />
        <h3>Ingredients</h3>
        <button @click="recipe.ingredients.push({ name: '' })">Add Ingredient</button>
        <div v-for="ingredient of recipe.ingredients">
            <input type="text" v-model="ingredient.name" />
        </div>
        <button @click="save">Save</button>
    </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {Recipe} from '../recipes/types';
import {addRecipe} from '../services/recipes';

@Component
export default class HomeRecipes extends Vue {
    private recipe = new Recipe();

    private async save() {
        try {
            await addRecipe(this.recipe);
            this.$notifySuccess('Recipe Saved', 'Saved');
            this.$router.push('/');
        } catch (e) {
            this.$notifyError(e, 'Failed to save Recipe.');
        }
    }
}
</script>