<template>
  <div class="home">
    <!-- Leaving img for now as an example in case I forget later-->
    <!--
      - Leaving for now as an example in case I forget later
    <img alt="Vue logo" src="../assets/logo.png">
      -->
    <home-recipes />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HomeRecipes from '@/components/HomeRecipes.vue';

@Component({
  components: {
    HomeRecipes,
  },
})
export default class Home extends Vue {}
</script>
