<template>
  <div class="login">
    <h1>Login</h1>
    <div>
      Email: <input type="email" v-model="email" placeholder="Email" @keypress.enter="login"/>
      Password: <input type="password" v-model="password" placeholder="Password" @keypress.enter="login"/>
      <button @click="login">Login</button>
    </div>
  </div>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import {getError} from '@/errors/RecipeError';
    import {login} from '@/services/login';
    import {LOGIN, prefixUserModule} from '../users/userStore';

    @Component
    export default class Login extends Vue {
        private email = '';
        private password = '';

        public created() {
            if (this.isLoggedIn) {
                this.gotoHome();
            }
        }

        public async login() {
            try {
                await this.$store.dispatch(prefixUserModule(LOGIN), {email: this.email, password: this.password});
                this.gotoHome();
            } catch (err) {
                this.$notify({
                    title: 'Error',
                    text: getError(err, 'Error logging in.'),
                    type: 'error',
                 });
            }
        }

        private gotoHome() {
            this.$router.push({ name: 'home' });
        }
    }
</script>
