<template>
<div>
    <h1>Register</h1>
    User Name <input type="text" v-model="user.userName" placeholder="User Name" /><br />
    First Name <input type="text" v-model="user.firstName" placeholder="First Name" /><br />
    Last Name <input type="text" v-model="user.lastName" placeholder="Last Name" /><br />
    Email <input type="email" v-model="user.email" placeholder="Email" /><br />
    Password <input type="password" v-model="user.password" placeholder="Password" /><br />
    Confirm Password <input type="password" v-model="user.confirmPassword" placeholder="Confirm Password" /><br />
    <button @click="signup">Register</button>
</div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {SignupUser} from '../users/types';
import {register} from '../services/login';
import {prefixUserModule, SET_AUTH_USER} from '../users/userStore';

@Component
export default class Signup extends Vue {
    private user = new SignupUser();

    public created() {
        if (this.isLoggedIn) {
            this.gotoHome();
        }
    }

    private gotoHome() {
        this.$router.push({ name: 'home' });
    }

    private async signup() {
        try {
            const newUser = await register(this.user);
            await this.$store.commit(prefixUserModule(SET_AUTH_USER), newUser);
            this.gotoHome();
        } catch (err) {
            this.$notifyError(err, 'Failed to Register.');
        }
    }
}
</script>
<style scoped>
</style>